.env
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
!/storage/uploads/patients/
/storage/uploads/patients/*
!/storage/uploads/patients/.gitkeep
!/storage/uploads/doctors/
/storage/uploads/doctors/*
!/storage/uploads/doctors/.gitkeep
!/storage/uploads/staff/
/storage/uploads/staff/*
!/storage/uploads/staff/.gitkeep
!/storage/uploads/departments/
/storage/uploads/departments/*
!/storage/uploads/departments/.gitkeep
!/storage/uploads/consultations/
/storage/uploads/consultations/*
!/storage/uploads/consultations/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
.phpunit.result.cache
Thumbs.db
.DS_Store
