.env
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
!/storage/uploads/patients/
/storage/uploads/patients/*
!/storage/uploads/patients/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
.phpunit.result.cache
Thumbs.db
.DS_Store
